<h1>The old man and the car</h1>

<p>@Model.GetExclamation()!!</p>
<p>he said @Model.GetAdverb() as he jumped into his convertible @Model.GetNoun() and drove off with his @Model.GetAdjective() wife.</p>